* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-backgroud: #2e1065;
    --text-color: #a78bfa;
    --nav-background: #7c3aed;
}

body {
    color: var(--text-color);
    background-color: var(--main-backgroud);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav {
    background: var(--nav-background);
    width: fit-content;
    padding: 16px;
    border-radius: 10px;
}

ul, li {
    list-style: none;
}